@use "../global/global";

.container {
  display: block;
  max-width: calc(#{global.$container_size} + #{global.$gutter * 2});
  padding-right: global.$gutter;
  padding-left: global.$gutter;
  margin-right: auto;
  margin-left: auto;
}
